<h1 mat-dialog-title>QR Code</h1>
<img [src]="url">
<div mat-dialog-actions fxLayoutAlign="end" fxLayoutGap="10px">
  <button mat-flat-button mat-dialog-close>Schließen</button>
  <button mat-flat-button color="primary" [matMenuTriggerFor]="menu">Download</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="download('png')">PNG Bild Datei</button>
    <button mat-menu-item (click)="download('svg')">SVG Vektorgrafik</button>
    <button mat-menu-item (click)="download('pdf')">PDF</button>
  </mat-menu>
</div>
