:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

.toolbar {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  padding: 0px 20px;

  a,
  a:visited,
  a:hover {
    color: white;
  }
}

.toolbar img {
  margin: 0 16px;
}

.component {
  margin: 20px;
  padding: 10px 25px;
  margin-bottom: 35px;
  border: 1px solid gray;
  border-radius: 5px;

  .title {
    padding-bottom: 20px;
    font-size: 24px;
  }
}

tr {
  background-color: rgba(192, 192, 192, 0.1);
}

table {
  border: 1px solid rgba(192, 192, 192, 0.3);
}

th {
  text-align: start;
}

td,
th {
  padding: 10px;
}

.i18n-demolabel {
  font-weight: bold;
  margin-bottom: 14px;
}