<div class="toolbar" role="banner" fxLayout="row" fxLayoutAlign="space-between center">
  <div fxLayout="row" fxLayoutAlign="start center">
    <img height="25" src="https://cdn.smallstack.com/ci/stack-black.svg" />
    <h1>Angular Components Demo</h1>
  </div>
  <div fxLayout="row" fxLayoutAlign="end">
    <a href="/docs/index.html">Dokumentation</a>
  </div>
</div>

<div class="content" role="main">
  <!-- HIER KOMPONENTS EINFÜGEN -->


  <!-- Progress Buttons -->
  <div class="component">
    <div class="title">Progress Buttons</div>
    <h4>Spinner Button</h4>
    <spinner-button flat="true" color="primary" (actionFn)="actionFn($event)" spinnerText="Like a Record Baby"
      text="Spin me around"></spinner-button>
    <h4>Progress Bar Button</h4>
    <progress-bar-button flat="true" color="primary" (actionFn)="actionFn($event)" spinnerText="... and beyond"
      text="Till infinity"></progress-bar-button>
  </div>


  <!-- I18N-Key Tester -->
  <div class="component">
    <div class="title" style="padding-bottom: 8px;">i18n-Key Tester</div>
    <small class="text-muted">Paste an i18n key in here to check if it exist.</small>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
      <div style="width: 200px; padding: 5px">
        <mat-form-field appearance="outline">
          <input sac-autofocus matInput type="text" [(ngModel)]="i18nKey">
        </mat-form-field>
      </div>
      <span class="i18n-demolabel">
        <i18n [key]="i18nKey"></i18n>
      </span>
    </div>
  </div>

  <!-- Timestamp-Editor -->
  <div class="component">
    <div class="title">Timestamp-Editor</div>
    <div fxLayout="row" fxLayoutGap="20px">
      <div style="width: 200px; border: 2px dashed rgba(239, 239, 239, 0.8);  padding: 5px">
        <timestamp-editor [(timestamp)]="myTimestamp"></timestamp-editor>
      </div>
      <div fxLayout="column">
        <div>Timestamp: <mat-form-field><input matInput [(ngModel)]="myTimestamp" type="number"></mat-form-field>
        </div>
        <div>Als Datum: {{myTimestamp | date:"long"}}</div>
      </div>
    </div>
  </div>

  <!-- FLAG -->
  <div class="component">
    <div class="title">Flag</div>
    <flag language="de"></flag>
  </div>

  <!-- LOCAL SELECTOR -->
  <div class="component">
    <div class="title">Locale Selector</div>
    <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
      <locale-selector [locales]="['de_de', 'en_us', 'fr_fr', 'es_es']"
        (selectedLocale)="localeSelectorSelectedLocale = $event"></locale-selector>
      <div>Selected Locale: {{localeSelectorSelectedLocale}}</div>
    </div>
  </div>

  <!-- Schema Form -->
  <div class="component">
    <div class="title">Schema Form</div>
    <h4>As Row</h4>
    <schema-form-widget [schema]="schemaFormSchema" [(data)]="schemaFormSchemaData"
      [options]="{'fxLayout': 'row wrap'}">
    </schema-form-widget>
    <h4>As Column</h4>
    <schema-form-widget [schema]="schemaFormSchema" [(data)]="schemaFormSchemaData" fxLayout="column"
      fxLayoutAlign="center start" fxLayoutGap="10px"></schema-form-widget>
    <h4>Without labels</h4>
    <schema-form-widget [schema]="schemaFormSchema" [(data)]="schemaFormSchemaData" fxLayout="row wrap"
      fxLayoutAlign="start center" fxLayoutGap="10px" [options]="{showLabel: false}"></schema-form-widget>
    <h4>Data</h4>
    <pre>{{schemaFormSchemaData | json}}</pre>
  </div>

  <!-- Schema Form Widgets -->
  <div class="component">
    <div class="title">Schema Form Widgets</div>
    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
      <schema-form-layout [schema]="testSchema" [(data)]="testSchemaData" [options]="{showLabel: false}">
        <table style="width: 100%">
          <thead>
            <tr>
              <th>Name</th>
              <th>Widget</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>String Input Widget<br><small>property: firstName</small></td>
              <td>
                <div schemaFormPlaceholder="firstName"></div>
              </td>
            </tr>
            <tr>
              <td>Store Select Widget<br><small>property: locales</small></td>
              <td>
                <div schemaFormPlaceholder="locales"></div>
              </td>
            </tr>
            <tr>
              <td>Search Query Widget<br><small>property: searchQuery</small></td>
              <td>
                <div schemaFormPlaceholder="searchQuery"></div>
              </td>
            </tr>
            <tr>
              <td>String Array Widget<br><small>property: colors</small></td>
              <td>
                <div schemaFormPlaceholder="colors"></div>
              </td>
            </tr>
            <tr>
              <td>Number Array Widget<br><small>property: primes</small></td>
              <td>
                <div schemaFormPlaceholder="primes"></div>
              </td>
            </tr>
            <tr>
              <td>Boolean Array Widget<br><small>property: bools</small></td>
              <td>
                <div schemaFormPlaceholder="bools"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </schema-form-layout>
      <div>
        <h5>DATA</h5>
        <pre>{{testSchemaData | json}}</pre>
      </div>
    </div>
  </div>

  <!-- Store Search -->
  <div class="component">
    <div class="title">Store Search</div>
    <store-search [store]="localeStore" #storeSearch [filterNames]="filterNames"></store-search>
    <div>
      store.query.search : {{storeSearch$ | async }}
    </div>
  </div>

  <!-- Loader -->
  <div class="component">
    <div class="title">Loader</div>
    <loader [loadingText]="loadingText"></loader>
  </div>

  <!-- QR Code Dialog -->
  <div class="component">
    <div class="title">Create your own QR Code</div>

    <input #inputQRCode [(ngModel)]="input">&nbsp;
    <button mat-raised-button color="primary" (click)="showQRCode(inputQRCode.value); inputQRCode.value=''"
      [disabled]="!input">Generate QR-Code</button>
  </div>

  <!-- i18n -->
  <div class="component">
    <div class="title">i18n Translator</div>
    common.<input #i18nInput><button (click)=getInputForI18n(i18nInput.value)>click</button>
    <b>&nbsp;=&nbsp;<i18n key="common.{{i18nInput.value}}"></i18n></b>
  </div>

  <!-- List Container -->
  <div class="component">
    <div class="title">List Container</div>
    <list-container [store]="localeStore">
      <ng-template #content>
        <ng-container *ngIf="(localeStore.currentPage$ | async) as locales;">
          <div *ngFor="let locale of locales">
            {{locale | json}}
          </div>
        </ng-container>
      </ng-template>
    </list-container>
  </div>

  <!-- Search Field -->
  <div class="component">
    <div class="title">Search Field</div>
    <search-field></search-field>
  </div>

  <!-- Email Verification Message -->
  <div class="component">
    <div class="title">Email Verification Message</div>
    <p>Paste an Email token to verify an Email-address (and show the Angular-Component)</p>
    <input type="text" [(ngModel)]="exampleEmailToken">
    <button (click)="exampleEmailToken = ''">Reset</button>
    <ng-container *ngIf="exampleEmailToken!==undefined && exampleEmailToken !==''">
      <verification-message [token]="exampleEmailToken"></verification-message>
    </ng-container>
  </div>

  <!-- ii18n Component -->
  <div class="component">
    <div class="title">ii18n Component</div>
    <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="10px" fxLayout.lt-sm="column"
      fxLayoutAlign.lt-sm="center stretch">
      <ii18n-editor defaultKey="@@products.{id}.description" fxFlex="100" [textarea]="true" label="Beschreibung"
        [disableConfigBtn]="false">
      </ii18n-editor>
      <ii18n-editor defaultKey="@@products.{id}.shortdescription" fxFlex="30" [textarea]="true" fxFlex.lt-sm="100"
        label="Kurzbeschreibung" [disableConfigBtn]="false"></ii18n-editor>
    </div>
  </div>


</div>