<input #fileInput type="file" (change)="onFileSelect($event)" style="display: none;" accept="image/*" capture="true">
<div class="popup-widget-container" fxLayout="column" fxLayoutAlign="center center"
  [ngClass]="{'error' : layoutNode.options.errorMessage && formControl.untouched === false}"
  (click)="fileInput.click();$event.preventDefault()">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" *ngIf="!fileSrc" class="icon">
    <path d="M9 16h6v-6h4l-7-7-7 7h4zm-4 2h14v2H5z" /></svg>
  <img [src]="fileSrc" *ngIf="fileSrc" class="image">
  <div><span>{{propertyTitle}}</span> <span *ngIf="layoutNode.options.required">*</span></div>
</div>
