<ii18n [key]="value" *ngIf="value"></ii18n>
<mat-icon class="rotate-center" *ngIf="!value && !notFound"
  style="height: 16px;width: 16px;font-size: 16px;color:darkgray">autorenew
</mat-icon>
<ng-container *ngIf="notFound && !notFoundTemplate">{{notFoundText}}</ng-container>
<template *ngIf="notFound && notFoundTemplate" [ngTemplateOutlet]="notFoundTemplate"
  [ngTemplateOutletContext]="{ modelId: modelId }"></template>
