<mat-form-field [appearance]="options.appearance" fxFill>
  <mat-label *ngIf="options?.showLabel !== false">{{getLabel()}}</mat-label>
  <mat-select [ngModel]="data" (ngModelChange)="dataChange.emit($event)">
    <mat-option *ngFor="let option of schema.enum" [value]="option">{{option}}</mat-option>
  </mat-select>
  <mat-hint *ngIf="schema.description">{{schema.description}}</mat-hint>
</mat-form-field>
