<div *ngIf="options?.showLabel !== false" style="margin-bottom: 5px">{{getLabel()}}</div>
<ng-container *ngIf="data !== undefined && data?.length > 0;else noData">
  <ng-container *ngFor="let element of data; let index = index;trackBy: trackByFn">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px" style="padding: 5px">
      <schema-form-widget fxFlex="*" [schema]="schema.items" [data]="data[index]" [options]="options"
        style="border: 1px solid rgba(0,0,0,0.1);padding: 5px" (dataChange)="dataChangedFromChild($event, index)">
      </schema-form-widget>
      <button mat-icon-button (click)="removeEntry(index)" fxFlex="30px">
        <mat-icon svgIcon="minus-outline"></mat-icon>
      </button>
    </div>
  </ng-container>
</ng-container>
<ng-template #noData>
  <div fxLayoutAlign="center center" fxFill>
    <i class="text-muted">Keine Elemente vorhanden</i>
  </div>
</ng-template>
<div fxLayoutAlign="end">
  <button mat-stroked-button (click)="addEntry()">
    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
      <mat-icon svgIcon="add-outline"></mat-icon>
      <span>Element hinzufügen</span>
    </div>
  </button>
</div>