<h1 mat-dialog-title>
  <i18n key="components.siterefresh.title"></i18n>
</h1>
<div mat-dialog-content>
  <i18n key="components.siterefresh.message"></i18n>
</div>
<div mat-dialog-actions align="end">
  <button mat-flat-button (click)="onClose()">
    <i18n key="components.siterefresh.later"></i18n>
  </button>
  <button mat-flat-button color="primary" (click)="onClose(true)">
    <i18n key="components.siterefresh.refresh"></i18n>
  </button>
</div>