<mat-checkbox class="big" value="false" (change)="markValue($event)" [checked]="checked"
  [ngClass]="{'error' : checked === false && formControl.untouched === false}"
  [required]="layoutNode.options.required" >
  <span class="mat-caption" style="vertical-align: middle">{{propertyTitle}}</span>
  <span *ngIf="layoutNode.options.required" class="mat-placeholder-required mat-form-field-required-marker mat-caption">
    *</span>
</mat-checkbox>
<button mat-icon-button (click)="openFilePreview();$event.preventDefault()" color="primary" style="margin-left: 20px;"
  class="large">
  <mat-icon>open_in_browser</mat-icon>
</button>
