<mat-form-field [appearance]="options.appearance" fxFill>
  <mat-label *ngIf="options?.showLabel !== false">{{getLabel()}}</mat-label>
  <input matInput [ngModel]="data" type="number" (ngModelChange)="dataChange.emit($event)">
</mat-form-field>
