@import "./theme";

.badge {
  background-color: $primary;
  box-sizing: border-box;
  font-weight: 100;
  color: #ffffff;
  display: inline-block;
  padding: 4px;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 4px;
  margin: 1px;

  &.primary {
    background-color: $primary;
  }

  .badge-scoped {
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    padding: 2px;
    margin-left: 6px;
    margin-right: -2px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  
}

.dot {
  height: 8px;
  width: 8px;
  border-radius: 4px;
  place-self: center;
  background-color: $primary;
}
