// Helper classes
.no-link {
  text-decoration: none;
}
.container {
  padding: 16px;
}
.text-italic {
  font-style: italic;
}
.text-center {
  text-align: center;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-muted {
  color: gray;
  font-size: smaller;
}
.mr-0 {
  margin-right: 0px !important;
}
.mr-4 {
  margin-right: 4px !important;
}
.mr-8 {
  margin-right: 8px !important;
}
.mr-12 {
  margin-right: 12px !important;
}
.mr-16 {
  margin-right: 16px !important;
}
.ml-0 {
  margin-left: 0px !important;
}
.ml-2 {
  margin-left: 2px !important;
}
.ml-4 {
  margin-left: 4px !important;
}
.ml-8 {
  margin-left: 8px !important;
}
.ml-12 {
  margin-left: 12px !important;
}
.ml-16 {
  margin-left: 16px !important;
}
.mx-0 {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.mx-4 {
  margin-left: 4px !important;
  margin-right: 4px !important;
}
.mx-8 {
  margin-left: 8px !important;
  margin-right: 8px !important;
}
.mx-12 {
  margin-left: 12px !important;
  margin-right: 12px !important;
}
.mx-16 {
  margin-left: 16px !important;
  margin-right: 16px !important;
}
.mt-0 {
  margin-top: 0px !important;
}
.mt-4 {
  margin-top: 4px !important;
}
.mt-8 {
  margin-top: 8px !important;
}
.mt-12 {
  margin-top: 12px !important;
}
.mt-16 {
  margin-top: 16px !important;
}
.mb-0 {
  margin-bottom: 0px !important;
}
.mb-4 {
  margin-bottom: 4px !important;
}
.mb-8 {
  margin-bottom: 8px !important;
}
.mb-12 {
  margin-bottom: 12px !important;
}
.mb-16 {
  margin-bottom: 16px !important;
}
.my-0 {
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}
.my-4 {
  margin-bottom: 4px !important;
  margin-top: 4px !important;
}
.my-8 {
  margin-bottom: 8px !important;
  margin-top: 8px !important;
}
.my-12 {
  margin-bottom: 12px !important;
  margin-top: 12px !important;
}
.my-16 {
  margin-bottom: 16px !important;
  margin-top: 16px !important;
}
