.mat-dialog-container {
  overflow: auto;
}

// add a little padding to buttons that have an icon + something else
.mat-button-wrapper > .mat-icon:not(:only-child) {
  padding-right: 4px;
}

// remove padding from inputs that are inside mat-cell
.mat-cell,
.mat-footer-cell {
  .mat-form-field-wrapper {
    padding: 0px;
  }
}

// if flag component is used inside mat-icon component, reduce the flag's svg size
.mat-icon .flag-icon {
  width: 16px;
  height: 16px;
  padding: 0px;
  padding-bottom: 6px;
}

.header-menu-backdrop.mat-menu-panel {
  background-color: var(--backoffice-header-color) !important;
  color: var(--toolbar-font-color) !important;
}

.mat-outline {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
  position: relative;
  border: 1px solid #f0f0f0;
  border-radius: 5px;

  mat-label {
    position: absolute;
    top: -10px;
    left: 5px;
    background-color: white;
    padding: 5px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.38);
  }
}

.mat-outline:hover {
  border: 1px solid currentColor;
}

// Horizontal scrolling for tables

.scrolling-table {
  display: block;
  width: 100%;
  overflow-x: auto;

  .mat-table {
    width: 100%;
    max-width: 100%;
    display: table;
    border-collapse: collapse;
  }

  .mat-row,
  .mat-header-row {
    display: table-row;
  }

  .mat-cell,
  .mat-header-cell {
    word-wrap: initial;
    display: table-cell;
    line-break: unset;
    padding: 0px 5px;
    // width: 100%;
    white-space: nowrap;
    overflow: hidden;
  }
}

.compact-form-field-row {
  .mat-form-field-appearance-outline .mat-form-field-wrapper {
    padding: 0px;
  }
  
  button {
    margin: 0.25em 0px;
  }
}

.mat-form-field-prefix,
.mat-form-field-suffix {
 display: flex;
 align-self: flex-start;
 margin-top: 10px;
}
