@media (max-width: 599px) {
  .mat-dialog-container {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: auto !important;
    max-height: 90% !important;
  }
}

@media (max-width: 959px) {
  
  .mat-dialog-container {
    border-radius: 0px !important;
  }

  .mat-snack-bar-handset .mat-snack-bar-container {
    margin: 0px !important;
    border-radius: 0px !important;
  }
}
