// On Page notification boxes
.box-warning {
  border: 1px solid #eaeaea;
  border-radius: 4px;
  background-color: #fff4e5;
  margin: 2em 0em;
  padding: 1em;
}

.box-warning::before {
  content: "";
  display: block;
  background: url(/assets/images/icons/warning-48.png) no-repeat;
  width: 1.2em;
  height: 1.2em;
  float: left;
  background-size: contain;
  margin-right: 8px;
}
