// @import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$stack-primary: mat-palette($mat-blue-gray, 600, 400, 900);
$stack-accent: mat-palette($mat-light-blue, 600, 400, 900);
$stack-warn: mat-palette($mat-red, 700, 400, 900);

// Create the theme object (a Sass map containing all of the palettes).
$stack-theme: mat-light-theme($stack-primary, $stack-accent, $stack-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($stack-theme);
$primary: mat-color($stack-primary);
$accent: mat-color($stack-accent);
$warn: mat-color($stack-warn);

$stack-gray: mat-palette($mat-grey, 100, 600, 800);
$stack-bluegray: mat-palette($mat-blue-gray, 300, 600, 900);
