
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 16px;
  //box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  //0 8px 10px 1px rgba(0, 0, 0, 0.14),
  //0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 50ms cubic-bezier(0, 0, 0.2, 1);
}

.dragdrop-box:last-child {
  border: none;
}

.dragdrop-list.cdk-drop-list-dragging .dragdrop-box:not(.cdk-drag-placeholder) {
  transition: transform 50ms cubic-bezier(0, 0, 0.2, 1);
}

.dragdrop-restrict {
}
