@import "./theme.scss";
@import "./helpers";
@import "./material-hacks";
@import "./card-boxes";
@import "./mobile-hacks";
@import "./animations";
@import "./notifications";
@import "./thirdparty-hacks";
@import "./badges";

html {
  height: 100%;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

body {
  height: 100%;
  margin: 0px;
}

.app-container .company-avatar {
  height: 180px;
  color: rgba(255, 255, 255, 0.65);
}

mat-sidenav .scroll-content {
  padding-bottom: 16px;
}

.card-box .actions button mat-icon {
  width: 18px;
  height: 18px;
  line-height: 1px;
  margin: 6px 4px;
}

mat-icon.s-16 {
  font-size: 16px !important;
  width: 16px !important;
  height: 16px !important;
  min-width: 16px !important;
  min-height: 16px !important;
  line-height: 16px !important;
}

mat-icon.s-32 {
  font-size: 32px !important;
  width: 32px !important;
  height: 32px !important;
  min-width: 32px !important;
  min-height: 32px !important;
  line-height: 32px !important;
}

.pointer {
  cursor: pointer;
}

.field-container-label {
  text-transform: uppercase;
  margin-bottom: 20px;
}

.upload-thumb {
  height: 150px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: mat-color($stack-primary, 600);
  border-radius: 4px;
  margin-bottom: 12px;
  cursor: pointer;
}

// Fullscreen Layout Component overrides
.fullscreen-layout-container {
  background-image: url("/assets/images/bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Material components overrides */

// Forms
.mat-input-element {
  background: transparent !important;
}

// Progress-Bar
.mat-progress-bar-background {
  fill: mat-color($stack-accent);
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}

// Buttons
.mat-raised-button {
  text-transform: uppercase;
}

.mat-raised-button.mat-primary {
  background-color: mat-color($stack-primary);
}

.mat-flat-button mat-icon,
.mat-menu-panel mat-icon {
  width: 20px;
  height: 20px;
  line-height: 1px;
}

@media (max-width: 959px) {
  .mat-raised-button {
    width: 100%;
  }
}

// Cards
.backoffice-panel .mat-card-title {
  margin-bottom: 6px !important;
}

.mat-card-avatar {
  padding-top: 5px;
}

.mat-spinner-small {
  margin: 0px auto;
  width: 50px !important;
  height: 50px !important;
}

.mat-spinner-small svg {
  width: 50px !important;
  height: 50px !important;
}

.mat-spinner-tiny {
  width: 20px !important;
  height: 20px !important;
  margin-right: 10px;
}

.mat-spinner-tiny svg {
  width: 20px !important;
  height: 20px !important;
}

.mat-drawer-side {
  border-right: none;
}

.mat-list-base {
  padding-top: 0px !important;
}

.mat-menu-content:not(:empty) {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

// OLD STUFF
.mat-drawer-container {
  height: 100%;
  background-color: #ededed !important;
}

.mainContent {
  height: 100%;
}

.backoffice-main-content {
  height: calc(100% - 64px);
  overflow: auto;
}

.navbar-header {
  width: 280px;
  align-items: center;
  transition: padding 200ms ease;
  background-color: var(--toolbar-dark-color);
  color: white;
}

.mat-drawer.mat-sidenav.detail-view-container button.btn-block {
  width: 100%;
  margin-top: 20px;
}

// Sidebar
.app-container > .mat-drawer {
  min-width: 280px;
  width: 280px;
  border-right: none !important;
}

.snackbar-error {
  background-color: $warn;
  color: white;
}

.snackbar-error .mat-button-wrapper {
  color: black;
  font-weight: bold;
}

.overflow-line-break {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.overflow-break-all {
  word-break: break-all;
  -ms-word-break: break-all;
  -moz-word-break: break-all;
}

.overflow-triple-points {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.scrollbar-track {
  background: transparent !important;
  width: 4px !important;
  margin-right: 2px !important;
}

.scrollbar-thumb {
  border-radius: 0 !important;
  background-color: rgb(255, 255, 255, 0.4) !important;
}

.mat-header-row {
  background-color: #fbfbfb !important;
}

.mat-card .mat-divider-horizontal {
  position: relative !important;
}

.mat-paginator.marginless-paginator-range-label {
  .mat-paginator-range-label {
    margin: 0;
  }
}

.mat-button.no-hover:hover .mat-button-focus-overlay {
  opacity: 0;
}
