<ng-container *ngIf="schema?.properties">
  <div [fxLayout]="fxLayout" fxFill fxLayoutAlign="space-between center" fxLayoutGap="10px">
    <schema-form-widget fxFlex *ngFor="let widget of schema?.properties | keyvalue" [name]="widget.key" [schema]="widget.value"
      [data]="data[widget.key]" [options]="options" (dataChange)="dataChangedFromChild(widget.key, $event)">
    </schema-form-widget>
  </div>
</ng-container>
