<div fxLayout="column">
  <mat-form-field>
    <mat-label>Schlüssel</mat-label>
    <input matInput type="text" [(ngModel)]="key">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Typ</mat-label>
    <mat-select [(ngModel)]="schema.type">
      <mat-option value="string">Text</mat-option>
      <mat-option value="number">Nummer</mat-option>
      <mat-option value="boolean">Ja/Nein</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-flat-button color="primary" (click)="addProperty()">
    <i18n key="common.add"></i18n>
  </button>
</div>
