<button mat-button [matMenuTriggerFor]="langMenu" class="toolbar-menu-button">
  <flag [locale]="locale" style="padding: 10px;"></flag>
</button>
<mat-menu class="{{menuClass}}" yPosition="below" xPosition="after" #langMenu="matMenu" [overlapTrigger]="false">
  <button (click)="this.change.emit(split.locale)" *ngFor="let split of splitLocales" fxLayout="row" fxLayoutGap="5px"
    fxLayoutAlign="start center" mat-menu-item>
    <flag [language]="split.language"></flag>
    <ng-container *ngIf="displayMode === 'full'">
      <span>
        <i18n key="languages.{{split.language}}" [locale]="split.locale"></i18n>
      </span>
      <span>(<i18n key="countries.{{split.country}}" [locale]="split.locale"></i18n>)</span>
    </ng-container>
  </button>
</mat-menu>
