<div class="container" fxLayout="column" fxFill>

  <div *ngFor="let field of fields;let i = $index" class="filter-row" fxLayout="row" fxLayoutGap="10px"
    fxLayoutAlign="space-between center">


    <!-- Property Name-->
    <mat-form-field appearance="standard">
      <mat-label>Feld</mat-label>
      <input matInput [ngModel]="field.fieldname" (ngModelChange)="changeField(field,'fieldname', $event)">
    </mat-form-field>

    <!-- Matcher -->
    <mat-form-field appearance="standard">
      <mat-label>Komparator</mat-label>
      <mat-select [ngModel]="field.matcher" (ngModelChange)="changeField(field, 'matcher', $event)">
        <mat-option *ngFor="let applicableMatcher of applicableMatchers[field.type]" [value]="applicableMatcher">
          {{applicableMatcher}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Value Type -->
    <mat-form-field appearance="standard">
      <mat-label>Typ</mat-label>
      <mat-select [ngModel]="field.type" (ngModelChange)="changeField(field, 'type', $event)">
        <mat-option value="string">Text</mat-option>
        <mat-option value="number">Nummer</mat-option>
        <mat-option value="boolean">Ja/Nein</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Value -->
    <div fxFlex="50">
      <schema-form-widget [schema]="{type: field.type, title: 'Wert'}" [data]="field.value"
        [options]="{appearance: 'standard', showLabel: true}" (dataChange)="changeField(field,'value', $event)">
      </schema-form-widget>
    </div>

    <!-- Actions -->
    <button mat-button color="warn" fxFlex="1" (click)="removeField(i)">
      <mat-icon svgIcon="delete"></mat-icon>
    </button>
  </div>
</div>

<div fxLayout="row" fxLayoutAlign="end">
  <button mat-button color="primary" (click)="addNewField()">
    <mat-icon>add</mat-icon> Filter hinzufügen
  </button>
</div>