<div class="mat-outline">
  <mat-label *ngIf="options?.showLabel !== false">{{getLabel()}}</mat-label>
  <store-select *ngIf="store;else noStore" [store]="store" [property]="propertyName" [multiple]="multiple"
    [showData]="true" (selectedIdsChange)="dataChanged($event)" [selectedIds]="data" fxFill></store-select>
  <ng-template #noStore>Store '{{storeName}}' not registered!</ng-template>
  <mat-hint>{{schema.description}}</mat-hint>
</div>
