<div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="end center">
  <mat-form-field>
    <input type="text" matInput [(ngModel)]="text" (keydown.enter)="doSearch()">
  </mat-form-field>
  <mat-icon svgIcon="delete" matSuffix *ngIf="text" (click)="reset()"></mat-icon>
  <mat-icon svgIcon="search" matSuffix (click)="doSearch()"></mat-icon>
</div>
