<div fxLayout="column">
  <mat-form-field>
    <input matInput placeholder="Suche" (keyup)="searchChanged($event)" #searchInput>
    <button mat-icon-button matSuffix (click)="clearSearch();searchInput.value = ''">
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>
</div>
<cdk-virtual-scroll-viewport itemSize="50" class="contact-persons-container">
  <table>
    <thead>
      <tr>
        <th>Nachname</th>
        <th>Vorname</th>
        <th>E-Mail</th>
      </tr>
    </thead>
    <ng-container *cdkVirtualFor="let contactPerson of filteredContactPersons">
      <tr (click)="selectContactPerson(contactPerson)" class="row">
        <td>{{contactPerson.lastName}}</td>
        <td>{{contactPerson.firstName}}</td>
        <td>{{contactPerson.email}} </td>
      </tr>
    </ng-container>
  </table>
</cdk-virtual-scroll-viewport>
<div fxLayoutAlign="end">
  <button mat-flat-button color="primary" mat-dialog-close>
    <i18n key="common.close"></i18n>
  </button>
</div>
