.contact-persons-container {
  overflow: auto;
  height: calc(100% - 150px);
  width: 100%;

  table {
    width: 100%;
    overflow-x: hidden;
    border-spacing: 0px;

    thead {
      th {
        font-weight: 100;
        color: #949494;
        text-align: start;
      }
    }

    tr {
      cursor: pointer;
      padding-top: 10px;
      height: 65px;
      background-color: #fbfbfb;
    }

    td {
      border-top: 1px solid #f3f3f3;
      border-bottom: 1px solid #f3f3f3;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 18px;
      padding: 10px;
    }
  }
}
