.filter-container {
  border-radius: 4px;
}

.filter-container :first-child[class="filter-input-bar"] {
  border-left: 1px solid #ededed;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.filter-input-bar {
  user-select: none;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}

.filter-button {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.filter-secondary-button {
  border-radius: 0px;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}

.search-filter {
  position: relative;
  background-color: #ededed;
  margin: 2px;
  padding-top: 10px;
  padding-bottom: 6px;
  padding-left: 8px;
  padding-right: 8px;
  min-width: 80px;
  height: 20px;

  .label {
    font-size: 9px;
    position: absolute;
    top: 0px;
    left: 0px;
    text-transform: uppercase;
    color: silver;
  }
}

.search-filter-popup {
  position: absolute;
  z-index: 500;
  top: 36px;
  left: 0;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  border: 1px solid #ededed;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  display: none;

  .entry {
    cursor: pointer;
    height: 20px;
    border-bottom: 1px solid #ededed;
    padding: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;

    i {
      color: silver;
    }
  }
  .entry:last-child {
    border-bottom: 0px;
  }
}

.search-filter-popup.active {
  display: block;
  max-height: 350px;
  overflow-y: auto;
}

.hidden-trigger {
  width: 0px;
  height: 0px;
  visibility: hidden;
}

.toggle-select {
  button {
    border-radius: 0px;
    border: 0px;
    line-height: 21px;
    padding: 0px 2px;
    font-size: 10px;
    font-weight: 100;
  }

  button:not([class*="mat-primary"]) {
    border: 1px solid #ededed;
  }
  button:last-child {
    border-top: 0px;
  }
  button:first-child {
    border-bottom: 0px;
  }
}

input {
  background-color: transparent;
  border: 0px;
  border-bottom: 1px solid #ededed;
  margin-top: 4px;
}
input:focus {
  outline: none;
}
