<div fxLayout="row" class="filter-container">
  <div class="toggle-select" fxLayout="column" *ngIf="showModeSwitcher && !(isMobile$ | async)" fxFlex="64px">
    <button mat-flat-button (click)="changeMode('simple')" style="border-top-left-radius: 4px;"
      [color]="mode === 'simple' ? 'primary' : 'default'">SIMPLE</button>
    <button mat-flat-button (click)="changeMode('advanced')" style="border-bottom-left-radius: 4px;"
      [color]="mode === 'advanced' ? 'primary' : 'default'">ADVANCED</button>
  </div>
  <div class="filter-input-bar" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center" fxFlex="auto">
    <div *ngIf="mode === 'simple'" style="padding: 10px;width: 100%">
      <input [(ngModel)]="fullTextSearch" (keydown.enter)="load()" placeholder="{{ translationLabelFilterNames }}"
        style="width: 100%">
    </div>
    <div *ngIf="mode === 'advanced'" style="width: 100%" fxLayout="row wrap">

      <div *ngFor="let filter of searchByFields; let i = index" fxLayout="row" fxLayoutAlign="start center">

        <div class="search-filter" style="cursor: pointer;" (click)="currentFilterIndex = i; currentPopup = 'name'">
          <span class="label">Feld</span>
          <span>{{getFieldName(filter.fieldname)}}</span>
          <div class="search-filter-popup" [ngClass]="{'active': currentFilterIndex === i && currentPopup === 'name'}">
            <div class="entry" *ngFor="let option of filterNames" (click)="setCurrentFieldname($event, option.value)">
              {{option.label}}</div>
          </div>
        </div>
        <div class="search-filter" *ngIf="filter.fieldname" style="cursor: pointer;"
          (click)="currentFilterIndex = i; currentPopup = 'matcher'">
          <span class="label">Methode</span>
          <i18n key="components.search.matcher.{{filter.matcher}}" *ngIf="filter.matcher"></i18n>
          <div class="search-filter-popup"
            [ngClass]="{'active': currentFilterIndex === i && currentPopup === 'matcher'}">
            <div class="entry" *ngFor="let availableMatcher of applicableMatches(filter)"
              (click)="setCurrentMatcher($event, availableMatcher)">
              <i18n key="components.search.matcher.{{availableMatcher}}"></i18n>
            </div>
          </div>
        </div>
        <div class="search-filter" *ngIf="filter.matcher" (click)="currentFilterIndex = i; currentPopup = 'value'">
          <span class="label">Wert</span>
          <span
            *ngIf="filterValues && filterValues[filter.fieldname] && filterValues[filter.fieldname].config?.allowCustomValues === false; else inputField">
            {{getFilterValue(filter.fieldname, filter.value)}}
          </span>
          <ng-template #inputField>
            <input
              [type]="filterValues && filterValues[filter.fieldname]?.config?.dataType === 'number' ? 'number' : 'text'"
              [(ngModel)]="filter.value" (keydown.enter)="load()">
          </ng-template>
          <div class="search-filter-popup" [ngClass]="{'active': currentFilterIndex === i && currentPopup === 'value'}"
            *ngIf="filterValues && filterValues[filter.fieldname] && filterValues[filter.fieldname].values">
            <div class="entry" *ngFor="let filterValue of filterValues[filter.fieldname].values"
              (click)="setFilterValue($event, filterValue.value)">{{filterValue.label}}
            </div>
          </div>
        </div>
        <div class="search-filter" *ngIf="i !== searchByFields.length - 1">{{logicalOperator === "or" ? "oder" : "und"}}
        </div>
      </div>
      <button mat-icon-button (click)="createNewFilter()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
  <div class="toggle-select" fxLayout="column" *ngIf="mode === 'advanced'" fxFlex="64px">
    <button mat-flat-button (click)="logicalOperator = 'or'"
      [color]="logicalOperator === 'or' ? 'primary' : 'default'">ODER</button>
    <button mat-flat-button (click)="logicalOperator = 'and'"
      [color]="logicalOperator === 'and' ? 'primary' : 'default'">UND</button>
  </div>
  <button mat-flat-button class="filter-secondary-button" (click)="reset()" fxFlex="50px">
    <mat-icon svgIcon="delete-outline"></mat-icon>
  </button>
  <button mat-flat-button color="primary" (click)="load()" class="filter-button" fxFlex="50px">
    <mat-icon svgIcon="search"></mat-icon>
  </button>
</div>