<template *ngIf="model" [ngTemplateOutlet]="templateModel" [ngTemplateOutletContext]="{ model: model }"></template>
<div class="not-found-or-loading">
  <div class="not-found" *ngIf="!model && notFoundMsg">{{ notFoundMsg }}</div>
  <mat-icon class="loader-icon" class="rotate-center" *ngIf="!model && !notFoundMsg">autorenew</mat-icon>
</div>