<div fxLayout="column" fxFill>
  <div fxFlex="60px" fxLayout="row" fxLayoutAlign="center center">
    <h2 style="margin: 0;">{{title}}</h2>
  </div>
  <div fxFlex class="scroll-wrapper">
    <div *ngIf="error" class="error">
      Beim Anzeigen des PDF ist ein Fehler aufgetreten:
      <div>{{error}}</div>
    </div>
    <pdf-viewer [src]="data.src" [render-text]="false" style="display: block;" [fit-to-page]="true"
      (error)="handleError($event)"></pdf-viewer>
  </div>
  <div fxFlex="60px" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end center" style="padding: 0 5%">
    <button (click)="reject()" mat-button mat-stroked-button color="warn">Nicht akzeptieren</button>
    <button (click)="accept()" mat-button mat-stroked-button color="primary">Akzeptieren</button>
  </div>
</div>
