* {
  box-sizing: border-box;
}

.scroll-wrapper {
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;

  /* important:  dimensions or positioning here! */
}

.scroll-wrapper iframe {
  /* nada! */
}

.error {
  padding: 15px;
  border-radius: 5px;
  background-color: red;
  margin: 30px;
  font-family: monospace;
}
