<mat-form-field fxFill>
  <mat-label>{{title}}</mat-label>
  <mat-select [multiple]="multiple" (selectionChange)="selectionChange($event)" [(value)]="selected">
    <mat-option *ngFor="let model of store.value$ | async" [value]="model.id">{{model[displayProperty]}}</mat-option>
  </mat-select>
</mat-form-field>
