
.drawing-pad {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 6px;
  padding: 0px;
  padding-bottom: -10px;
  margin-bottom: 0px !important;
}

.fullscreen-dialog {
  padding: 5px;
  margin: 0;
  border-radius: 0px;
}

.popup-widget-container {
  // @extend .mat-elevation-z2;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.8);
  flex: content;
  padding: 5px;
  cursor: pointer;
  color: black;
  font-size: 20px;
  height: 110px;
  overflow: hidden;

  .icon,
  mat-icon {
    font-size: 64px;
    width: 64px;
    height: 64px;
    padding: 4px;
  }

  .image {
    height: 64px;
    padding: 4px;
  }
}
