<div class="form-container">
  <!-- FORM -->
  <json-schema-form framework="material-design" [schema]="form.fields" [layout]="form.layout"
    [(ngModel)]="formData" [options]="jsonFormOptions" (validationErrors)="validationErrors = $event">
  </json-schema-form>

  <!-- error -->
  <mat-error class="form-validation-error" *ngIf="validationErrors !== null && onceChecked">
    {{validationErrorsText}}</mat-error>

  <!-- SUBMIT BUTTON -->
  <button mat-flat-button class="form-submit-button" color="primary" *ngIf="showSubmitButton"
    (click)="sendFormData()">{{form.submitButtonText}}</button>
</div>
