.list-container-error {
  padding: 20px;
  border-radius: 4px;
  color: #fff;
  letter-spacing: 2px;
  background-color: red; //TODO: this should be $warn from material theme
}

.list-container-empty {
  user-select: none;
  align-items: center;
  text-align: center;
  padding: 50px;
  color: #898989;
  font-weight: 100;
  font-size: 16px;
  font-variant: all-petite-caps;
}

.no-user-select {
  user-select: none;
}
