<div class="list-container-error" *ngIf="store?.hasError$ | async" fxLayout="row" fxLayoutAlign="space-between">
  <span>{{storeError$ | async}}</span>
  <button (click)="store?.load()" mat-flat-button color="warn">
    <i18n key="common.refresh" uppercase="true"></i18n>
  </button>
</div>

<ng-container *ngIf="paginatorPosition === PAGINATOR_POSITION.TOP || paginatorPosition === PAGINATOR_POSITION.BOTH">
  <ng-container *ngTemplateOutlet="pager"></ng-container>
</ng-container>

<loader [loading]="store?.isLoading$ | async" style="color: #898989;"></loader>
<div *ngIf="showEmpty && (store?.empty$ | async) && !(store?.isLoading$ | async);">
  <div *ngIf="hasUserDefinedEmptyContent(); else builtInEmpty">
    <ng-container *ngTemplateOutlet="empty"></ng-container>
  </div>
  <ng-template #builtInEmpty>
    <div class="list-container-empty" fxLayout="column">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="50pt" height="50pt"
        viewBox="0 0 50 50" version="1.1">
        <g id="surface1559814">
          <path style=" stroke:none;fill-rule:nonzero;fill:currentColor;fill-opacity:1;"
            d="M 15.28125 6 C 15.121094 6.035156 14.96875 6.109375 14.84375 6.21875 L 4.625 14.0625 C 4.613281 14.074219 4.605469 14.082031 4.59375 14.09375 C 4.582031 14.09375 4.574219 14.09375 4.5625 14.09375 C 4.484375 14.136719 4.410156 14.1875 4.34375 14.25 C 4.332031 14.261719 4.324219 14.269531 4.3125 14.28125 C 4.292969 14.289062 4.269531 14.300781 4.25 14.3125 C 4.25 14.324219 4.25 14.332031 4.25 14.34375 C 4.214844 14.382812 4.183594 14.425781 4.15625 14.46875 C 4.144531 14.488281 4.132812 14.511719 4.125 14.53125 C 4.113281 14.542969 4.105469 14.550781 4.09375 14.5625 C 4.070312 14.613281 4.046875 14.664062 4.03125 14.71875 L 0.09375 22.5625 C -0.101562 22.949219 -0.0273438 23.414062 0.277344 23.722656 C 0.585938 24.027344 1.050781 24.101562 1.4375 23.90625 L 4 22.625 L 4 43 C 4 43.550781 4.449219 44 5 44 L 35 44 C 35.011719 44 35.019531 44 35.03125 44 C 35.09375 43.996094 35.15625 43.984375 35.21875 43.96875 C 35.25 43.960938 35.28125 43.949219 35.3125 43.9375 C 35.4375 43.898438 35.554688 43.835938 35.65625 43.75 C 35.679688 43.730469 35.699219 43.710938 35.71875 43.6875 C 35.742188 43.667969 35.761719 43.648438 35.78125 43.625 L 35.84375 43.53125 C 35.867188 43.511719 35.886719 43.492188 35.90625 43.46875 L 43.78125 33.625 C 43.921875 33.449219 44 33.226562 44 33 L 44 23.4375 L 49.71875 17.71875 C 50.035156 17.386719 50.085938 16.886719 49.84375 16.5 L 44 6.78125 C 43.964844 6.621094 43.890625 6.46875 43.78125 6.34375 C 43.773438 6.324219 43.761719 6.300781 43.75 6.28125 C 43.738281 6.28125 43.730469 6.28125 43.71875 6.28125 C 43.710938 6.261719 43.699219 6.238281 43.6875 6.21875 C 43.675781 6.21875 43.667969 6.21875 43.65625 6.21875 C 43.636719 6.195312 43.617188 6.175781 43.59375 6.15625 C 43.523438 6.117188 43.453125 6.085938 43.375 6.0625 C 43.355469 6.050781 43.332031 6.039062 43.3125 6.03125 C 43.300781 6.03125 43.292969 6.03125 43.28125 6.03125 C 43.261719 6.019531 43.238281 6.007812 43.21875 6 C 43.207031 6 43.199219 6 43.1875 6 C 43.167969 6 43.144531 6 43.125 6 C 43.113281 6 43.105469 6 43.09375 6 C 43.074219 6 43.050781 6 43.03125 6 C 43.019531 6 43.011719 6 43 6 L 15.46875 6 C 15.4375 6 15.40625 6 15.375 6 C 15.34375 6 15.3125 6 15.28125 6 Z M 15.78125 8 L 40.5625 8 L 34.5625 14 L 7.9375 14 Z M 42.8125 8.625 L 47.75 16.8125 L 41.1875 23.375 L 36.25 15.1875 Z M 6 16 L 34 16 L 34 42 L 6 42 L 6 21.125 C 6.003906 21.082031 6.003906 21.042969 6 21 Z M 36 18.5625 L 40.15625 25.5 C 40.308594 25.765625 40.578125 25.949219 40.882812 25.992188 C 41.1875 26.035156 41.496094 25.933594 41.71875 25.71875 L 42 25.4375 L 42 32.65625 L 36 40.15625 Z M 4 19.25 L 4 20.375 L 3.25 20.75 Z M 14.71875 20 C 14.167969 20.078125 13.78125 20.589844 13.859375 21.140625 C 13.9375 21.691406 14.449219 22.078125 15 22 L 25 22 C 25.359375 22.003906 25.695312 21.816406 25.878906 21.503906 C 26.058594 21.191406 26.058594 20.808594 25.878906 20.496094 C 25.695312 20.183594 25.359375 19.996094 25 20 L 15 20 C 14.96875 20 14.9375 20 14.90625 20 C 14.875 20 14.84375 20 14.8125 20 C 14.78125 20 14.75 20 14.71875 20 Z M 14.71875 20 " />
        </g>
      </svg>
      <i18n key="components.list.emptymessage"></i18n>
    </div>
  </ng-template>
</div>



<div #legacyNgContent (cdkObserveContent)="projectContentChanged()">
  <ng-content *ngIf="(store?.isLoaded$ | async) && (!(store?.empty$ | async) || !showEmpty)"></ng-content>
</div>
<ng-container *ngIf="(store?.isLoaded$ | async) && (!(store?.empty$ | async) || !showEmpty)">
  <ng-container *ngTemplateOutlet="content"></ng-container>
</ng-container>

<ng-container *ngIf="paginatorPosition === PAGINATOR_POSITION.BOTTOM || paginatorPosition === PAGINATOR_POSITION.BOTH">
  <ng-container *ngTemplateOutlet="pager"></ng-container>
</ng-container>

<ng-template #pager>
  <div class="no-user-select" fxLayout="row" fxLayoutAlign="end center" style="padding-right: 25px">
    <mat-paginator *ngIf="isPageable" [length]="totalElements$ | async" [disabled]="store?.isLoading$ | async"
      [pageSize]="size$ | async" [pageSizeOptions]="[10, 25, 100]" [pageIndex]="pageIndex$ | async"
      (page)="changePage($event)" [hidePageSize]="isMobile" [showFirstLastButtons]="true">
    </mat-paginator>
    <button mat-icon-button color="primary" (click)="store?.load()" [disabled]="store?.isLoading$ | async">
      <mat-icon [ngClass]="{'rotate-center': (store?.isLoading$ | async)}">refresh</mat-icon>
    </button>
  </div>
</ng-template>