<mat-slide-toggle [checked]="data === true" (change)="dataChange.emit($event.checked)" style="height: unset">
  <div fxLayout="column wrap">
    <ng-container *ngIf="options?.showLabel !== false">{{getLabel()}}</ng-container>
    <div class="text-muted" style="white-space: pre-wrap;" *ngIf="schema.description">{{schema.description}}</div>
  </div>
</mat-slide-toggle>
