.loader-div {
  user-select: none;
  padding: 50px 0px;
}

.loader-div i18n {
  font-weight: 100;
  font-size: 16px;
  font-variant: all-petite-caps;
}

.loader-div mat-icon {
  height: 60px;
  width: 60px;
  font-size: 60px;
}
