<ng-container *ngIf="!loading else spinner">
  <ng-content></ng-content>
</ng-container>
<ng-template #spinner>
  <div class="loader-div" fxLayout="column" fxLayoutAlign="center center">
    <mat-icon class="rotate-center">autorenew</mat-icon>
    <i18n [key]="loadingText" [showMissingKey]="null"></i18n>
  </div>
</ng-template>
