:host.rows-selectable {
  mat-row {
    cursor: pointer;
  }
  mat-row:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

mat-header-cell,
mat-cell {
  padding-right: 5px;
}

:host {
  box-sizing: border-box;
  display: block;
  width: 100%;
  overflow-x: auto;

  .mat-table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    display: table;
    margin: 0px;
  }

  .mat-row,
  .mat-header-row {
    display: table-row;
  }

  .mat-cell,
  .mat-header-cell {
    word-wrap: initial;
    display: table-cell;
    padding: 0px 5px;
    line-break: unset;
    white-space: pre;
    overflow: hidden;
  }

  .mat-row .mat-cell {
    border: 1px solid rgba(0, 0, 0, 0.05);
  }
}
