<table mat-table [dataSource]="data">
  <ng-container [matColumnDef]="prop" *ngFor="let prop of properties">
    <th mat-header-cell *matHeaderCellDef [class]="'header-cell-' + prop"> {{prop | titlecase }} </th>
    <td mat-cell *matCellDef="let element" [class]="'cell-' + prop" (click)="select(element)">
      {{element[prop] | jsonstring}}
    </td>
  </ng-container>
  <ng-container matColumnDef="actions" stickyEnd>
    <th mat-header-cell *matHeaderCellDef class="header-cell-actions">
      <i18n key="components.list.headers.actions"></i18n>
    </th>
    <td mat-cell *matCellDef="let element" class="cell-actions">
      <ng-container *ngTemplateOutlet="actions; context: { element: element }"></ng-container>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns;"></tr>
</table>
