<h1 mat-dialog-title>Übersetzungskonfiguration</h1>
<div>
  <mat-slide-toggle [checked]="isTranslatedField" (change)="modeChange($event)">Übersetzung einschalten
  </mat-slide-toggle>
  <p class="text-muted">Sie können selbst entscheiden, ob Sie dieses Feld übersetzen möchten oder Ihnen ein
    einfacher Text für alle Sprachen reicht. Sie können dann das Feld übersetzen, indem Sie im Feld auf die Flagge drücken und eine andere Sprache wählen. Neue Sprachen können Sie im Internationalisierungsbackoffice hinzufügen.
  </p>
</div>
<div mat-dialog-actions fxLayoutAlign="end">
  <button mat-flat-button color="primary" (click)="close()">
    <i18n key="common.close"></i18n>
  </button>
</div>
