<ng-container *ngIf="textarea !== true; else textareaTemplate">
  <mat-form-field appearance="outline" fxFill>
    <mat-label *ngIf="label">
      <ii18n [key]="label"></ii18n>
    </mat-label>
    <input matInput [ngModel]="key" (ngModelChange)="valueChanged($event)" *ngIf="!isTranslatedField">
    <input matInput [(ngModel)]="translation.values[currentEditorLocale]" (ngModelChange)="updateValues()"
      *ngIf="isTranslatedField">
    <button mat-icon-button [matMenuTriggerFor]="menu" matPrefix *ngIf="isTranslatedField">
      <mat-icon>
        <flag [locale]="currentEditorLocale"></flag>
      </mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngFor="let locale of locales" (click)="setCurrentEditorLocale(locale)">
        <flag [locale]="locale"></flag> {{locale}}
      </button>
    </mat-menu>
    <button mat-icon-button matSuffix (click)="openI18nDialog()" *ngIf="!disableConfigBtn">
      <mat-icon svgIcon="translation"></mat-icon>
    </button>
    <mat-hint *ngIf="hint">{{hint}}</mat-hint>
  </mat-form-field>
</ng-container>
<ng-template #textareaTemplate>
  <mat-form-field appearance="outline" fxFill>
    <mat-label *ngIf="label">
      <ii18n [key]="label"></ii18n>
    </mat-label>
    <button mat-icon-button [matMenuTriggerFor]="menu" matPrefix *ngIf="isTranslatedField">
      <mat-icon>
        <flag [locale]="currentEditorLocale"></flag>
      </mat-icon>
    </button>
    <textarea cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="15" matInput [ngModel]="key"
      (ngModelChange)="valueChanged($event)" *ngIf="!isTranslatedField" cdkTextareaAutosize></textarea>
    <textarea cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="15" matInput
      [(ngModel)]="translation.values[currentEditorLocale]" (ngModelChange)="updateValues()" cdkTextareaAutosize
      *ngIf="isTranslatedField"></textarea>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngFor="let locale of locales" (click)="setCurrentEditorLocale(locale)">
        <flag [locale]="locale"></flag> {{locale}}
      </button>
    </mat-menu>
    <button mat-icon-button matSuffix (click)="openI18nDialog()" *ngIf="!disableConfigBtn">
      <mat-icon svgIcon="translation"></mat-icon>
    </button>
    <mat-hint *ngIf="hint">{{hint}}</mat-hint>
  </mat-form-field>
</ng-template>