<ng-container *ngIf="store">
  <div fxLayout="column" fxLayoutAlign="center center" *ngIf="store.isLoading$ | async">
    <loader></loader>
    <span *ngIf="loadingText" class="loading-text">{{loadingText}}</span>
  </div>
  <mat-icon color="warn" *ngIf="store.hasError$ | async" matTooltip="{{store.error$ | async}}"
    matTooltipShowDelay="500">report_problem</mat-icon>
  <ng-content *ngIf="store.isLoaded$ | async"></ng-content>
</ng-container>
<ng-container *ngIf="!store">Error: No stateful subject given!</ng-container>
