<div fxLayout="column" fxLayoutAlign="center center">
  <mat-form-field fxFill>
    <mat-label>Datum</mat-label>
    <input matInput [matDatepicker]="basicDatepicker" placeholder="Today" (dateChange)="dateChanged($event)" [value]="date" readonly
      (click)="basicDatepicker.open()">
    <mat-datepicker-toggle matSuffix [for]="basicDatepicker"></mat-datepicker-toggle>
    <mat-datepicker #basicDatepicker></mat-datepicker>
  </mat-form-field>


  <div fxLayout="row" fxLayoutAlign="space-between center" fxFill>
    <mat-form-field fxFlex="48">
      <mat-label>Stunden</mat-label>
      <input matInput class="center" [value]="hours" min="0" max="23" [(ngModel)]="hours" required
        [formControl]="hourForm" type="number">
      <mat-error *ngIf="hourForm.hasError('max') || hourForm.hasError('min') || hourForm.hasError('pattern')">
        Zahl zwischen 0 und 23
      </mat-error>
    </mat-form-field>
    <div style="padding-bottom: 16px;text-align: center;" fxFlex="4"> : </div>
    <mat-form-field fxFlex="48">
      <mat-label>Minuten</mat-label>
      <input matInput class="center" [value]="minutes" min="0" max="59" [(ngModel)]="minutes" required
        [formControl]="minuteForm" type="number">
      <mat-error *ngIf="minuteForm.hasError('max') || minuteForm.hasError('min') || minuteForm.hasError('pattern')">
        Zahl zwischen 0 und 59
      </mat-error>
    </mat-form-field>
  </div>
  <div *ngIf="!showTimezoneChanger" style="padding-bottom: 5px">
    <small>Zeitzone: {{selectedTimezone | timezone}} <span style="text-decoration: underline;cursor: pointer;"
        (click)="showTimezoneChanger = true">ändern</span></small>
  </div>

  <mat-form-field *ngIf="showTimezoneChanger">
    <mat-label>Zeitzone</mat-label>
    <mat-select [value]="selectedTimezone" (valueChange)="setSelectedTimezone($event)" name="timezone">
      <mat-option *ngFor="let timezone of timezones" [value]="timezone">
        {{timezone | timezone}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-flat-button fxFill color="primary" [disabled]="!minuteForm.valid || !hourForm.valid"
    (click)="save()">Speichern</button>

</div>
