.drawing-pad {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 6px;
  padding: 0px;
  padding-bottom: -10px;
  margin-bottom: 0px !important;
  position: relative;
  width: 100%;
  height: 200px;

  .brushes {
    position: absolute;
    top: 0px;
    right: 25px;
    width: 10px;
  }
}

.drawing-pad.error {
  border-color: red;
}

.signature-container {
  width: 100%;
  position: relative;
}
