<div class="signature-container" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">
  <mat-label [ngClass]="{'error' : layoutNode.options.errorMessage && formControl.untouched === false}">
    {{propertyTitle}} <span *ngIf="layoutNode.options.required">*</span></mat-label>
  <div class="drawing-pad" [ngClass]="{'error' : layoutNode.options.errorMessage && formControl.untouched === false}">
    <canvas class="drawing-pad-canvas" width="50" height="200" #drawingCanvas></canvas>
    <div class="brushes">
      <button mat-icon-button (click)="setPenColor(color);$event.preventDefault()" *ngFor="let color of brushColors">
        <mat-icon style="color:{{color}}">brush</mat-icon>
      </button>
    </div>
  </div>
  <div fxFlexAlign="end">
    <button mat-button (click)="clear();$event.preventDefault();" color="primary">Reset</button>
  </div>
</div>
