<div class="container" fxLayout="column" fxLayoutAlign="center center">
  <mat-spinner *ngIf="loading; else message" diameter="25"></mat-spinner>
</div>
<ng-template #message>
  <div *ngIf="!emailConfirmed; else success" class="message failure">
    <h1>
      <ii18n key="@@users.verify.email.error.title"></ii18n>
    </h1>
    <ii18n [key]="errorMessage"></ii18n>
    <br><br>
  </div>
</ng-template>
<ng-template #success>
  <div class="message success">
    <h1>
      <ii18n key="@@users.verify.email.success.title"></ii18n>
    </h1>
    <ii18n key="@@users.verify.email.success.message"></ii18n>
  </div>
</ng-template>