<table mat-table [dataSource]="schema.properties | keyvalue" style="width: 100%">
  <ng-container matColumnDef="path">
    <th mat-header-cell *matHeaderCellDef>Feld</th>
    <td mat-cell *matCellDef="let element">
      {{element.value.title ? element.value.title : element.key}}
      <div *ngIf="element.value.description">
        <mat-hint class="text-muted">{{element.value.description}}</mat-hint>
      </div>
    </td>
  </ng-container>
  <ng-container matColumnDef="value">
    <th mat-header-cell *matHeaderCellDef>Wert</th>
    <td mat-cell *matCellDef="let element">
      <schema-form-widget [data]="data ? data[element.key]: undefined" [schema]="element.value" [options]="options"
        (dataChange)="dataChanged(element.key, $event)" [name]="element.key"></schema-form-widget>
    </td>
  </ng-container>
  <ng-container matColumnDef="actions" stickyEnd>
    <th mat-header-cell *matHeaderCellDef class="header-cell-actions">
      <i18n key="components.list.headers.actions"></i18n>
    </th>
    <td mat-cell *matCellDef="let element" class="cell-actions">
      <ng-container *ngTemplateOutlet="actions; context: { element: element }"></ng-container>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns;"></tr>
</table>
