<h1 matDialogTitle>
  <ii18n [key]="data.title"></ii18n>
</h1>
<div mat-dialog-content>
  <ii18n [key]="data.message"></ii18n>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="end" fxLayoutGap="10px" style="padding-top: 10px;">
  <button *ngFor="let button of data.buttons" [class]="button.classes" (click)="dialogRef.close(button.value)">
    <ii18n [key]="button.label"></ii18n>
  </button>
</div>
