<div class="popup-widget-container" fxLayout="column" fxLayoutAlign="center center" (click)="openContactPersonSelect()"
  [ngClass]="{'error': layoutNode.options.errorMessage && formControl.untouched === false}">
  <mat-icon *ngIf="!selectedContactPerson">people</mat-icon>
  <div *ngIf="selectedContactPerson">{{selectedContactPerson.firstName}} {{selectedContactPerson.lastName}}</div>
  <div><span>{{propertyTitle}}</span> <span *ngIf="layoutNode.options.required">*</span></div>
</div>
