// .mat-paginator-range-label {
//   margin-left: 2px !important;
//   margin-right: 2px !important;
//   white-space: nowrap !important;
// }

.submit-btn {
  margin: 5px;
}

.not-found-error {
  border: 1px solid silver;
  border-radius: 1px;
  color: #daabab;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 10px;
  padding: 2px;
}
