<ng-container *ngIf="property && property?.length; else notDefined">
  <div fxLayout="row" fxLayoutAlign="space-between end">
    <store-property *ngIf="showData && !multiple" [store]="store" [property]="property" [modelId]="selectedIds"
      (click)="openMenu()"></store-property>
    <ng-container *ngIf="showData && multiple">
      <div fxLayout="row" fxLayoutAlign="start center">
        <ng-container *ngFor="let modelId of selectedIds; let index = index">
          <store-property [store]="store" [property]="property" [modelId]="modelId" (click)="openMenu()" notFound="null">
            <ng-template #notFoundTemplate>
              <span class="not-found-error" matTooltip="Model could not be found by ID: {{modelId}}">Error</span>
            </ng-template>
          </store-property>
          <span *ngIf="index < (selectedIds?.length-1)">,&nbsp;</span>
        </ng-container>
      </div>
    </ng-container>
    <button fxLayoutAlign="start" [class]="classes" (click)="openMenu()">
      <ng-container *ngIf="label">{{ label }}&nbsp;</ng-container>
      <i18n key="common.select"></i18n>
    </button>
  </div>
  <button [matMenuTriggerFor]="belowMenu" #menuTrigger style="visibility: hidden;position: absolute;"></button>
  <mat-menu class="select-menu" #belowMenu="matMenu" yPosition="below">
    <store-container [store]="store" (click)="$event.stopImmediatePropagation();">
      <div>
        <store-search [store]="store" mode="simple" [showModeSwitcher]="false" [filterNames]="filterNames"
          (click)="$event.stopImmediatePropagation();"></store-search>
      </div>

      <ng-container *ngIf="multiple; else single">
        <mat-checkbox class="mat-menu-item" color="primary" [checked]="currentPageSelected"
          (change)="onToggleCurrentPage()" (click)="$event.stopImmediatePropagation();">
          <ng-container *ngIf="!currentPageSelected; else unselect">
            <i>
              <i18n key="components.storeselect.selectcurrentpage"></i18n>
            </i>
          </ng-container>
        </mat-checkbox>

        <ng-container *ngIf="store.isLoaded$ | async">
          <mat-checkbox *ngFor="let option of store.currentPage$ | async" class="mat-menu-item" color="primary"
            [checked]="isSelected(option?.id)" (change)="onToggleSelection($event.checked, option?.id)"
            (click)="$event.stopImmediatePropagation();">
            <span *ngIf="option[property] && option[property].length; else notDefined">
              {{ option[property].length < propertyLength ? option[property] : option[property].substring(0, propertyLength) + '...' }}
            </span>
          </mat-checkbox>
        </ng-container>
      </ng-container>

      <div class="" fxLayout="row" fxLayoutAlign="space-between center">
        <div *ngIf="isPageable && 10 < (totalElements$ | async)">
          <mat-paginator [length]="totalElements$ | async" [disabled]="store?.isLoading$ | async"
            class="marginless-paginator-range-label" [pageSize]="size$ | async" [pageIndex]="pageIndex$ | async"
            [hidePageSize]="true" (page)="onChangePage($event)" (click)="$event.stopImmediatePropagation();">
          </mat-paginator>
        </div>
        <button *ngIf="multiple" class="submit-btn" mat-flat-button color="primary" (click)="onSubmitMultiple()"
          [disabled]="!selectedIds?.length">
          <mat-icon svgIcon="checkmark"></mat-icon>
        </button>
      </div>
    </store-container>
  </mat-menu>
</ng-container>
<ng-template #notDefined>
  <span>Property name not defined</span>
</ng-template>
<ng-template #unselect>
  <i>
    <i18n key="components.storeselect.unselectcurrentpage"></i18n>
  </i>
</ng-template>
<ng-template #single>
  <button *ngFor="let option of store.currentPage$ | async" mat-menu-item (click)="onSubmitSingle(option.id)">
    <span *ngIf="option[property] && option[property].length; else notDefined">
      {{ option[property].length < propertyLength ? option[property] : option[property].substring(0, propertyLength) + '...' }}
    </span>
  </button>
</ng-template>
