<mat-form-field [appearance]="options.appearance" fxFill>
  <mat-label *ngIf="options?.showLabel !== false">{{getLabel()}}</mat-label>
  <input matInput [ngModel]="data" type="number" step="1" (ngModelChange)="dataChange.emit($event)">
  <mat-hint *ngIf="schema.description">{{schema.description}}</mat-hint>
</mat-form-field>
