<h1 mat-dialog-title>{{data?.title}}</h1>
<div mat-dialog-content class="background" [style.background-image]="imageUrl"></div>
<div mat-dialog-actions fxLayoutAlign="end">
  <button mat-flat-button color="primary" mat-dialog-close cdkFocusInitial>
    <i18n key="common.close"></i18n>
  </button>
</div>
