<ng-container [ngSwitch]="type">
  <ng-container *ngSwitchCase="'text'">
    <span *ngIf="uppercase" style="text-transform: uppercase">{{key}}</span>
    <span *ngIf="!uppercase">{{key}}</span>
  </ng-container>
  <i18n *ngSwitchCase="'i18n'" [key]="key" [replacers]="replacers" [uppercase]="uppercase" [locale]="locale" [translationStore]="translationStore"></i18n>
  <i18n *ngSwitchCase="'inline'" [i18nTexts]="key.values" [replacers]="replacers" [uppercase]="uppercase" [locale]="locale" [translationStore]="translationStore"></i18n>
</ng-container>
